html{
    font-size: 50%;
}

body{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.header{
    height: 20%;
}

.grid{
    height: 80%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:5rem;
    padding: 5rem;
}

